form {
    margin: auto;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;

    @include large {
        width: 75%;
    }

    label {
        text-transform: uppercase;
        color: gray;
    }

    input[type=text], input[type=email], input[type=password] {
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
        
        font-size: 1rem;
        font-family: $font-secondary;
        
        outline: none;
        border: none;
        border-bottom: 2px solid gray;
        transition-property: border-bottom;
        transition-duration: 0.25s;

        &:focus {
            border-bottom: 2px solid rgb(236, 81, 81);
        }
    }

    h2 {
        margin-bottom: 0rem;
        grid-column-start: 1;
        grid-column-end: -1;
        justify-self: center;

        @include medium {
            justify-self: start;
        }
    }

    .checkbox-group {
        grid-column: 1 / -1;
        font-size: 0.75rem;
        align-items: center;

        input[type=checkbox] {
            width:30px;
            height:30px;
            cursor: pointer;


            @include large {
                width: 13px;
                height: 13px;
            }
        }

        .checkbox-subgroup {
            margin-top: 1rem;
            display: flex;
            align-items: center;

            label {
                margin-left: 0.5rem;
            }
        }
    }
}