form {
    width: 100%;

    h2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-bottom: 2px solid rgba(255, 129, 129, 0.5);
    }

    label {
        text-transform: uppercase;
        color: rgb(95, 95, 95);
        margin-bottom: 0;
    }

    // ! TEXT/EMAIL/PW
    input[type=text], input[type=email], input[type=password] {
        width: 100%;
        margin-bottom: 1.5rem;
        
        font-weight: bold;
        font-size: 1rem;
        font-family: $font-secondary;
        color: rgb(60, 60, 60);
        
        outline: none;
        border: none;
        border-bottom: 2px solid gray;
        transition-property: border-bottom 0.25s, color 0.25s;
        transition-duration: 0.25s;

        &:focus {
            border-bottom: 2px solid rgb(236, 81, 81);
            color: black;
        }
    }

    input[type=text]{
        text-transform: capitalize;
    }

    // ! CHECKBOXES
    .checkboxes {
        word-wrap: break-word;
        text-overflow: clip;
        flex-wrap: wrap;
        @include medium {
            text-align: left;
        }

        input[type=checkbox] {
            width: 30px;
            height: 30px;
            cursor: pointer;
    
            @include large {
                width: 13px;
                height: 13px;
            }
        }

        label {
            font-size: 1rem;
            color: black;
            font-weight: bold;
            display: inline;
        }
    }

    // ! SUBMIT-KNAPP
    input[type=submit] {
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 3rem;
        padding-top: 1rem;
        padding-bottom: 0.75rem;
        transition-duration: 0.2s;
        border-radius: 5px;
        border: 2px solid transparent;
        background: $charcoal;
        color: #fff;

        outline: none;

        &:hover, &:focus {
            border: 2px solid rgba(46, 64, 81, .75);
            background: #fff;
            color: $charcoal;
        }
    }
}